.footer {
  background: var(--gray-950);
  padding: 90px 40px 40px;
  margin-top: 120px;

  border-top: 1px solid var(--gray-800);
}

.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 40px;
}

/* BRAND */

.footer-brand h2 {
  font-size: 1.6rem;
  letter-spacing: 3px;
  margin-bottom: 10px;

  background: linear-gradient(
    90deg,
    #3b82f6,
    #22c55e
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand p {
  color: var(--gray-400);
  max-width: 320px;
  line-height: 1.6;
}

/* LINKS */

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  color: var(--gray-200);
  text-decoration: none;

  position: relative;
  width: fit-content;

  transition: color 0.25s ease;
}

.footer-links a:hover {
  color: var(--white);
}

/* underline animado */

.footer-links a::after {
  content: '';
  position: absolute;

  bottom: -4px;
  left: 0;

  width: 0%;
  height: 2px;

  background: linear-gradient(
    90deg,
    #3b82f6,
    #22c55e
  );

  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

/* BOTTOM */

.footer-bottom {
  margin-top: 70px;

  text-align: center;
  font-size: 0.85rem;

  color: var(--gray-500);

  border-top: 1px solid var(--gray-800);
  padding-top: 20px;
}