body {
  background:
    radial-gradient(circle at 20% 20%, rgba(59,130,246,0.08), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(34,197,94,0.08), transparent 40%),
    var(--gray-950);

  color: var(--gray-300);
  font-family: var(--font-main);
  line-height: 1.6;
}

main {
  overflow-x: hidden;
}

/* Containers */
.container {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 8%;
}

/* Títulos */

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--white);
}

h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.2rem);
}

h3 {
  font-size: 1.4rem;
}

/* Parágrafos */

p {
  color: var(--gray-500);
}

/* Links */

a {
  color: inherit;
  text-decoration: none;
}

/* Seções */

section {
  position: relative;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--gray-950);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-700);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--brand-blue);
}

/* Seleção de texto */

::selection {
  background: var(--brand-blue);
  color: var(--white);
}