/* =========================
   Reset Base
========================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   HTML
========================= */

html {
  scroll-behavior: smooth;
}

/* =========================
   Body
========================= */

body {
  min-height: 100vh;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* =========================
   Mídia
========================= */

img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* =========================
   Inputs
========================= */

button,
input,
textarea {
  font-family: inherit;
}

/* =========================
   Links
========================= */

a {
  text-decoration: none;
  color: inherit;
}